<div class="container montserrat-700 mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="mt-5 mt-lg-0 montserrat-400">
                <div class="rounded p-2 intro-titulo">
                    PERSONALIZA TU POSTAL Y DEMUESTRA TU AGRADECIMIENTO
                </div>
                <br>
                <br>
                <div class="intro-subtitle">
                    En <span class="intro-red"><b>GXO</b></span> sabemos lo importante de reconocer y agradecer a
                    nuestros compañeros de trabajo por todos esos momentos <span class="intro-red"><b>GXO</b></span> que
                    vivimos diariamente.
                    <br>
                    <br>

                    <p class="intro-subtitle"><b> ¡Vivimos Nuestros Valores! </b></p>
                </div>

                <div class="intro-instrucciones">
                    <b>INSTRUCCIONES:<br></b>
                    <br>
                    <div class="row">
                        <div class="col-2 col-sm-1 col-md-1 col-lg-1 col-xl-1">&nbsp;</div>
                        <div class="col-10 col-sm-11 col-md-11 col-lg-11 col-xl-11">
                            <div>
                                1.- Elige el diseño que más te guste de acuerdo al valor que quieres reconocer.
                                <br> 2.- Ingresa tus datos y los del destinatario.
                                <br> 3.-Escribe el mensaje de agradecimiento para tu postal
                                <br> 4.- Elige el método de envió de tu postal al destinatario, (Podrás
                                descargar tu postal electrónica como imagen en tu dispositivo para que la envíes
                                directamente o si lo prefieres podrás enviarlo al correo electrónico del destinatario)
                                <br> <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-center">
                                <button name="items" value="Calaveritas" class="btn buttonIni"
                                    style="justify-content: center;" (click)="enter()"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>